<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>job application form</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div class="container">
      <div class="apply_box">
        <h1>Job Application Form</h1>
        <form action="" method="post">
            {% csrf_token %}
          <div class="form_container">
            <div class="form_control">
              <label for="">First name</label>
              <input
                id="first_name"
                name="first_name"
                placeholder="Enter First Name..."
                required
              />
            </div>

            <div class="form_control">
              <label for="">Last name</label>
              <input
                id="Last name"
                name="last_name"
                placeholder="Enter Last Name..."
                required
              />
            </div>

            <div class="form_control">
              <label for=""><i class="fa-solid fa-envelope"></i>Email</label>
              <input
                type="email"
                id="email"
                placeholder="Enter Email..."
                name="email"
                required
              />
            </div>

            <div class="form_control" >
              <label for="job_role"  
                ><i class="fa-sharp fa-solid fa-computer" ></i>Job Role </label
              >
              
              <select name="job_role">
                <option value="">Select Job Role </option>
                
                <option value="frontend" >Frontend Developer</option>
                <option value="backend" >Backend Developer</option>
                <option value="fullstack" >Full stack Developer</option>
                <option value="ui_ux" >UI UX Designer</option>
              </select>
            
            </div>

            <div class="form_control">
              <label for="address"
                ><i class="fa-solid fa-address-book"></i>Address</label
              >
              <textarea
                id="address"
                name="address"
                row="4"
                cols="50"
                placeholder="Enter Address"
              ></textarea>
            </div>

            <div class="form_control">
              <label for="city"><i class="fa-solid fa-city"></i>City</label>
              <input
                id="city"
                name="city"
                placeholder="Enter City Name..."
                required
              />
            </div>

            <div class="form_control">
              <label for="Pincode"
                ><i class="fa-solid fa-envelopes-bulk"></i>Pincode</label
              ><input
                type="number"
                id="Pincode"
                name="pincode"
                placeholder="Enter Pincode..."
              />
            </div>

            <div class="form_control">
              <label for="date"
                ><i class="fa-solid fa-calendar-days"></i>Date</label
              >
              <input type="date" id="date" name="date" required />
            </div>

            <div class="form_control">
              <label for="upload"
                ><i class="fa-solid fa-file"></i>Upload Your Documents</label
              >
              <input type="file" id="upload" name="file" required />
            </div>
          </div>
          <div class="button_container">
            <button type="submit" value="submit">Apply Now</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>